body {
    background-image:    url(dark.jpg);
	background-size: cover;
	
}

#register, #login {
	color: white;
	margin-left: 10px;
	margin-top: 10px;
	background-color: transparent;
}

#registerform, #login, #wrongpass, #wronguser, #rightcredentials, #usertaken, #diffpass, #registerok{
	display: none;
}

#register {
	border-style: 1px solid white;
}

#loginform, #registerform {
/*  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);*/


}


